body{
    background-color: slateblue;
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: cyan;
    font-size: 30px;
}

h3{
    color: darkred;
    font-size: 20px;
}

h5{
    color: darkgreen;
    font-size: 14px;
}