body{
    background-color: slateblue;
    color: antiquewhite;
}

h1{
    color: cyan;
    font-size: 30px;
}

h3{
    color:purple;
    font-size: 20px;
}

h5{
    color: darkgreen;
    font-size: 14px;
}